/* Base reset for styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Navigation styling */
nav {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px black;
    margin-bottom: 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: center; /* Center nav horizontally */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px; /* Adds space between nav items */
}

nav ul li {
    background: lightgray; /* Light grey background for each nav item */
    border-radius: 5px;
    padding: 10px 20px;
}

nav ul li:hover {
    background: #8d8d8d; /* Darker grey on hover */
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

/* Form styling */
form {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

fieldset {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

legend {
    padding: 0 10px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* submit button styling */
input[type="submit"] {
    background-color: rgb(55, 188, 55);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 10px;
}

/* Button styling */
button {
    background-color: #5D93E1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #3C7DC4;
}

.remove {
    background-color: #ff6347;
}

.remove:hover {
    background-color: #d9534f;
}

/* Dynamic elements visibility */
.totalCategories,
.totalAssignments {
    margin-bottom: 20px;
}

