input[type=text]:focus {
    background-color: lightblue;
}

input[type=submit] {
    background-color: blue;
    color: white;
    cursor: pointer;
}

#addCourse {
    background-color: grey;
    color: white;
    cursor: pointer;
}

#addGrade {
    background-color: grey;
    color: white;
    cursor: pointer;
}

.addCategory {
    background-color: darkgry;
    color: white;
    cursor: pointer;
}

.addAssignment {
    background-color: darkgrey;
    color: white;
    cursor: pointer;
}

.remove {
    background-color: red;
    color: white;
    cursor: pointer;
}